.CustomListLI .sapMLIB {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    margin: .2rem;
    padding: 1rem;
    border-radius: 0;
}

.customInput .sapMInputBaseInner {
    color: #333333; /* Change this to the desired darker text color */
}


.customDestroy {
	    position: absolute;
}
.customDestroyleft{
	 position: absolute;
	 right: 2%;
}

/*.viz-axis-label-rect {*/
/*    fill: #4f667a !important;*/
/*}*/
/*.v-label .v-morphable-label .viz-axis-label .v-axis-item {*/
/*    fill: #ffffff !important;*/
/*}*/

.v-datalabel {
    fill: #E78C07 !important;
}

.headerTitle {
    font-size: 1.3rem;
}

.itemGroupCount1 {
    color: #fabd64;
    font-size: 1.2rem;
    padding-left: 1.5rem;
}

/*.listItemBorder {*/
/*    border: 0.05rem solid #9e9e9e;*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*    margin: 5px;*/
/*}*/

/*by susmita*/
.plantCountText {
    color: #E78C07 !important;
    font-size: 4em !important;
}

.noOfPlantCount {
    font-size: 1.8rem !important;
    color: #32363a !important;
}

.chartBar .sapMTB {
    height: 2rem !important;
}

.fullHeight .sapMFlexItem {
    height: 100%;
}

.uiTableTable .sapUiTableRowSel>.sapUiTableCell {
    border-right: .0625rem solid #e5e5e5;
    border-bottom: .0625rem solid #b8d5f3;
}

.tableTitle {
    font-size: 1rem;
}

.listTableTitle {
    font-size: 1.125rem;
}

/*.CustomListLI .sapMLIB {*/
/*    background-color: #fff;*/
/*    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);*/
/*    margin: .2rem;*/
/*    padding: 1rem;*/
/*    border-radius: 0;*/
/*}*/

.listItemBorder {
    border: 0.05rem solid #9e9e9e;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

.sapUiRespGrid.sapUiRespGridHSpace1 {
    padding-top: 0px;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}



.lastUpdate {
    opacity: 1 !important;
}

.sapUiTableRowSel:not(.sapUiTableGroupHeader)>td:not(.sapUiTableTDDummy) {
    background-color: #0f5d94 !important;
}

.sapUiTableRowSel:not(.sapUiTableGroupHeader)>td:not(.sapUiTableTDDummy) .sapMText {
    color: #ffffff !important;
}
.sapUiTableRowSel:not(.sapUiTableGroupHeader)>td:not(.sapUiTableTDDummy)  .sapMLnk {
    color: #ffffff !important;
}
.sapUiTableRowHdr.sapUiTableRowSel {
    background-color: #0f5d94 !important;
}